@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&family=Rubik:ital@1&display=swap');

/* ------------- ROOT VARIABLES ----------- */


:root{
    --color-primary: #d64949;
    --color-danger: #d64949;
    --color-success: #41f1b6;
    --color-await: #6259df;
    --color-warning: #ffbb55;
    --color-white: #ffffff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-dark2: #262627;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow-darkness: 0 2rem 3rem var(--color-dark-variant);
}
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #282528;
    --color-dark: #edeffd;
    --color-dark2: #2f2f30;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}

body{
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}
.container{
    position: relative;
    display: grid;
    width: 100vw;
    margin: 0 auto;
    padding-right: 30px;
    gap: 2rem;
    grid-template-columns: 14rem 81.5% 0;
    z-index: 0;
}
a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: .87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: var(--color-info-dark);
}
p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.await{
    color: var(--color-await);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}
.disabled{
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: none;
}

aside{
    height: 100vh;
    width: 100%;
    background-color: var(--color-background);
}
aside .top{
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 1.5rem;
    padding-left: 0.8rem;
    display: flex; 
    
}
aside .logo{
    display: flex;
    gap: 0.8rem;
}
aside .logo img{
    height: 2.2rem;
    width: 2.2rem;
}
aside .close{
    display: none;
}

/* ================= SIDEBAR ============== */

aside .sidebar{
    position: relative;
    height: 91vh;
    width: 100%;
    flex-direction: column;
    padding-top: 10rem;
    top: 3rem;
    border-radius: 0% 40% 0% 0% / 10% 10% 10% 0%;
    background: var(--color-dark2);
}

aside .h3{
    font-weight: 500;
}
aside .sidebar a{
    display: flex;
    color: var(--color-info-light);
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}
aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
aside .sidebar a.active::before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover{
    margin-left: 1rem;
}
aside .sidebar .message-count{
    background: var(--color-primary);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ================= MAIN ================ */

main{
    margin-top: 1.4rem;
    padding-right: 4%;
}
main .title span{
    font-size: 1rem;
}
main .top{
    display: flex;
    justify-content: space-between;
}
main .profile-theme{
    display: flex;
}
main .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin-right: 30px;
}

main .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .theme-toggler span.inactive{
    color: white;
    border-radius: var(--border-radius-1);
}
main .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}
main .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

main .top-mobile{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
}
.top-mobile button{
    cursor: pointer;
    color: var(--color-dark);
    background: transparent;
}
.top-mobile span{
    font-size: 2rem;
}
.top-mobile .theme-toggler-mobile{
    margin-left: 100px;
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin-right: 30px;
}
.top-mobile .theme-toggler-mobile span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-mobile .theme-toggler-mobile span.inactive{
    color: white;
    border-radius: var(--border-radius-1);
}
.top-mobile .theme-toggler-mobile span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}
.top-mobile .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}
/* ========= DIV TABLE COMPLETO ========= */


main .all-table{
    width: 100%;
    height: 90%;
    padding-top: 80px;
}




/* ============ FILTRADO Y BUSQUEDA =========== */

main .filter{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
}

main .filter ul{
    display: flex;
    width: 100%;
}
main .filter ul li{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 1rem;
    cursor: pointer;
}

main .filter ul #mark-order{
    position: absolute;
    left: 0;
    height: 4px;
    background: var(--color-primary);
    opacity: .8;
    bottom: -6px;
    transition: 1s;
}


main .filter-search{
    position: relative;
    padding: .6rem 1rem;
}
main .filter-search .input_search{
    width: 250px;
    font-size: 1rem;
    color: var(--color-dark);
    background: transparent;
    border-bottom: 1px solid var(--color-dark);
    height: 50px;
    padding: 0 0rem;
    padding-top: .8rem;
    outline: none;
}
main .filter-search .label_search{
    color: var(--color-dark);
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 12px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.input_search:focus + .label_search,
.input_search:not(:placeholder-shown) + .label_search{
    transform: translateY(-5px) scale(.7);
    transform-origin: top left;
    color: var(--color-dark);
}

main .filter-agg{
    display: inline-block;
    width: 120px;
    border: 2px solid #BFC0C0;
    color: var(--color-dark);
    background: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: absolute;
    right: -50%;
}
main #button button{
    color: var(--color-dark);
    text-decoration: none;
    letter-spacing: 1px;
    height: 40px;
    padding: 5px 15px;
    box-shadow: var(--box-shadow);
    background: var(--color-white);
}
#button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button button {
    position: relative;
    left: 0;
    transition: all .35s ease-out;
}

#dub-arrow {
    width: 100%;
    height: 100%;
    background: var(--color-white);
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
}

#button span {
    width: 20px;
    height: auto;
}
  
#button:hover #dub-arrow {
    left: 0;
}
  
#button:hover button {
    left: 150px;
}


/* =========== TABLE ============ */

main .recent-orders{
    margin-top: 10px;   
}
main .recent-orders h2{
    margin-bottom: 0.8rem;
}
main .recent-orders table{
    background: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .recent-orders table:hover{
    box-shadow: none;
}
main table tbody tr{
    transition: all 300ms ease;
}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark);
}
main table tbody td:hover{
    color: var(--color-white);
}
main table tbody td:last-child span{
    margin: 0 5px;
}
main table tbody tr:hover{
    transition: all 300ms ease;
    transform: translateX(10px);
    background: var(--color-info-dark);
    color: var(--color-white);
    box-shadow: 0 1rem 3rem #25354d;
}
main table tbody tr:hover + td{
    border-radius: 100px;
}
main table tbody tr:last-child td{
    border: none;
}
.cursor-pointer{
    cursor: pointer;
}

main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}




/* ========= PAGINACION ======== */

main .pages{
    margin-top: 15px;
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}
main .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
main .pages ul li{
    display: inline-block;
    margin: 0 10px;
    padding: 3px 8px;
    cursor: pointer;
}
main .pages ul li:last-child{
    display: none;
}
main .pages ul li:hover{
    background: var(--color-dark-variant);
    color: var(--color-white);
}
main .pages ul li:nth-child(5){
    cursor: auto;
    background: transparent;
    color: var(--color-dark);
}



/* ============ POP UP O VENTAMA MODAL ========== */


.container#blur.active{
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
}

#pop-up{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    box-shadow: var(--box-shadow-darkness);
    background: var(--color-white);
    color: var(--color-dark);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 1s;
    border-radius: var(--border-radius-2);
    z-index: -1;
}
#pop-up.active{
    height: 90%;
    top: 50%;
    visibility: visible;
    opacity: 10;
    transition: 1s;
    z-index: 1;
}
.pop-up nav .btn-modal{
    position: absolute;
    top: 25%;
    right: 3%;
    cursor: pointer;
}
.pop-up nav{
    width: 100%;
    height: 10%;
    position: absolute;
    z-index: 10000;
}
.pop-up ul{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: .8;
    transition: 1s;
}
.pop-up #progress-bar{
    position: absolute;
    display: flex;
    width: 0%;
    height: 100%;
    background: linear-gradient(120deg, var(--color-primary) 90%, transparent 10%);
    opacity: .8;
    z-index: -1;
    border-start-start-radius: var(--border-radius-2);
    transition: 1.5s;
}
.pop-up #progress-bar.activeC{
    border-start-end-radius: var(--border-radius-2);
    background: linear-gradient(var(--color-primary) 100%, transparent 0%);
}
.pop-up ul li{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    width: 50%;
    background: transparent;
    color: var(--color-dark);
    cursor: pointer;
    z-index: 1000;
}

.pop-up .slide{
    position: relative;
    display: flex;
    width: 100%;
    height: 90%;
    /* transition: 1.5s; */
}

.pop-up .card{
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: 1.5s;
    overflow: scroll;
    padding-bottom: 3rem;
}
 .pop-up #card.active{
    z-index: 10;
    visibility: visible;
    background: var(--color-white);
    transition: 1s;
}
.pop-up #card2.inactive{
    transform: translateX(100%);
    background: var(--color-white);
    transition: 1s;
}
.pop-up #card2.active{
    z-index: 10;
    visibility: visible;
    background: var(--color-white);
    transition: 1s;
}
.pop-up #card2.inactive{
    visibility: hidden;
    background: var(--color-white);
    transition: 1s;
}

.card .title-register{
    text-align: center;
    padding-top: 25px;
    height: 10%;
    opacity: 0;
    transform: translateY(-20px);
}

.div-inputs{
    display: flex;
    padding-right: 3.5rem;
}

.div-inputs .inputs{
    position: relative;
    padding: .6rem 2.5rem;
    margin-top: 20px;
    width: 50%;
    opacity: 0;
    transform: translateY(-10px);
}
.div-inputs .inputs .input-modal{
    width: 100%;
    font-size: 1.2rem;
    color: var(--color-dark);
    background: transparent;
    border-bottom: 1px solid var(--color-dark);
    height: 60px;
    padding: 0 0rem;
    padding-top: .8rem;
    outline: none;
}
.div-inputs .inputs .label-modal{
    color: var(--color-dark);
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 35px;
    font-size: 1.2rem;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.input-modal:focus + .label-modal,
.input-modal:not(:placeholder-shown) + .label-modal{
    transform: translateY(-5px) scale(.7);
    transform-origin: top left;
    color: var(--color-dark);
}

.div-inputs-btn{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-evenly;
}
.div-inputs-btn .inputs-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px 0 0;
    transform: translateY(-50px);
    opacity: 0;
}
.inputs-btn2{
    display: none;
    opacity: 0;
}
.inputs-btn button{
    margin: 0 10px;
    color: var(--color-white);
    text-decoration: none;
    letter-spacing: 1px;
    height: 40px;
    width: 120px;
    padding: 5px 15px;
    box-shadow: var(--box-shadow);
    background: linear-gradient(120deg, var(--color-primary) 80%, var(--color-dark) 20%); 
    border-radius: var(--border-radius-1);
    opacity: .8;
    cursor: pointer;
    transition: all 1s ease;
}


.pop-up #card2 h1{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    transform: translateX(50px);
}
.div-textarea{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}
.div-textarea textarea{
    width: 70%;
    height: 120px;
    display: flex;
    background: var(--color-dark);
    color: var(--color-white);
    justify-content: center;
    resize: none;
    font-size: 1.5rem;
    transform: translateX(50px);
}
.pop-up  .div-btns{
    display: flex;
    width: 100%;
    justify-content: center;
    /* transform: translateX(50px); */
}

.div-btns .inputs-btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 0 0;
    transform: translateY(-50px);
}

.div-btns button{
    margin: 0 10px;
    color: var(--color-white);
    text-decoration: none;
    letter-spacing: 1px;
    height: 40px;
    width: 120px;
    padding: 5px 15px;
    box-shadow: var(--box-shadow);
    background: linear-gradient(120deg, var(--color-primary) 80%, var(--color-dark) 20%); 
    border-radius: var(--border-radius-1);
    opacity: .8;
    cursor: pointer;
    transition: all 1s ease;
}





/* ================= MEDIA QUERIES AND RESPONSIVE BIG TABLETS AND LAPTOPS ============== */


@media screen and (max-width:1200px) {
    .container{
        width: 100%;
        padding: 0;
        grid-template-columns: 9.5rem 78%;
    }
    aside .logo h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    main .filter-s-a{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
    }
    main .filter-agg{
        position: relative;
        margin-top: 20px;
        top: 0;
        left: 0;
    }
    main .recent-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }
    main .recent-orders table{
        width: 84%;
    }
    main table thead tr th:last-child,
    main table thead tr th:first-child,
    main table thead tr th:nth-child(4){
        display: none;
    } 
    main table tbody tr td:first-child,
    main table tbody tr td:nth-child(4){
        display: none;
    }
    
}


/* ================= MEDIA QUERIES AND RESPONSIVE SMALL TABLETS AND SMARTPHONES ============== */

@media screen and (max-width: 810px){
    .container{
        width: 94%;
        grid-template-columns: 1fr;
    }
    main .top-mobile{
        display: flex;
        width: 100%;
    }
    aside{
        position: fixed;
        left: -100%;
        width: 18rem;
        z-index: 100000;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
        scroll-behavior: unset;
    }
    @keyframes showMenu {
        to{
            left: 0;
        }
        
    }
    aside .logo{
        margin-left: 1rem;
    }
    aside .logo h2{
        display: inline;
    }
    aside .sidebar{
        width: 110%;
    }
    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
        width: 95%;
        height: 3.4rem;
    }
    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }
    aside .close{
        display: inline-block;
        cursor: pointer;
    }
    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }
    main .title{
        padding-left: 8px;
    }
    main .filter{
        display: block;
    }
    main .filter-s-a{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .text-muted{
        font-size: 1rem;
    }
    main .all-table ul li:nth-child(1){
        margin-left: 10px;
    }
    main .all-table{
        padding: 0;
    }
    main .recent-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .recent-orders table{
        width: 100%;
        margin: 0;
    }
    .top{
        margin-top: 50px;
    }
    .top .profile-theme{
        display: none;
    }

    .div-inputs-btn{
        display: flex;
        width: 100%;
        justify-content: start;
        padding-left: 30px;
    }
    .pop-up .div-btns{
        display: flex;
        width: 100%;
        padding-left: 0;
        justify-content: end;
        transform: translateX(0px);
    }
    .inputs-btn button{
        margin: 0;
        margin-right: 25px;
        width: 100px;
    }
    

}

@media screen and (max-width: 700px){
    #pop-up{
        height: 70%;
        width: 90%;
    }
    .div-inputs{
        display: flex;
        flex-direction: column;
        padding-right: 0;
        margin-top: 0;
        height: 40%;
    }

    .div-inputs:first-child{
        margin-top: 0;
    }
    
    .div-inputs .inputs{
        /* margin-top: 25px; */
        width: 100%;
    }
    
    .div-inputs-btn{
        height: 20%;
    }
}


@media screen and (max-width: 467px){
 .profile .info{
        display: none;
    }
    main .filter{
        display: block;
    }
    .text-muted{
        font-size: 1rem;
    }
    main .all-table ul:nth-child(1){
        display: flex;
        width: 100%;
    }
    main .all-table ul:nth-child(1) li{
        margin-left: 10px;
    }
    main .recent-orders{
        margin-left: -5px;
    }
    main .pages ul li:nth-child(4),
    main .pages ul li:nth-child(6){
        display: none;
    }


    .div-inputs{
        height: 30%;
    }
    
    .div-inputs .inputs .input-modal{
        font-size: 1rem;
        height: 55px;
    }
    .div-inputs .inputs .label-modal{
        font-size: 1rem;
    }
    
    .input-modal:focus + .label-modal,
    .input-modal:not(:placeholder-shown) + .label-modal{
        transform: translateY(-5px) scale(.7);
        transform-origin: top left;
        color: var(--color-dark);
    }
    .div-inputs-btn{
        height: 20%;
    }
}