@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&family=Rubik:ital@1&display=swap');

/* ------------- ROOT VARIABLES ----------- */


:root{
    --color-primary: #1e33617e;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-await: #6259df;
    --color-warning: #ffbb55;
    --color-white: #202528;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #edeffd;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #edeffd;
    --color-background-containt: #2220417e;
    --color-background-all: #edeffd;
    --color--card-input: #5757577e;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem #535866;
}
.dark-theme-variables {
    --color-background-all: #1d1f30;
    --color-background-containt: #2220417e;
    --color-white: #ffffff;
    --color-dark: #1d1f30;
    --color-dark-variant: #34384b;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem #121118;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: poppins, sans-serif;
}

.theme-toggler{
    position: absolute;
    top: 1.5%;
    right: 5%;
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-3);
}
.theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme-toggler span.inactive{
    color: white;
    border-radius: var(--border-radius-1);
}
.theme-toggler span.active{
    background: #ffffff;
    color: #000000;
    border-radius: var(--border-radius-1);
}

.background{
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background: url('../images/fondo-azul-oscuro.jpeg'); */
   background: var(--color-background-all);
   background-size: cover;
   background-repeat: no-repeat;
   transition: all 300ms ease;
}
.form{
    width: 400px;
    height: 400px;
    padding: 1rem 0;
}
.form .form__title{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--color-white);
    opacity: .7;
}
.containt{
    box-shadow: var(--box-shadow);
    padding: 1.5rem 1.5rem;
    background: var(--color-background-containt);
    border-radius: 15px;
}
.form .div_inputs{
    position: relative;
    color: var(--color--card-input);
    padding: .6rem 1rem;
}
.div_inputs .form__inputs{
    width: 100%;
    font-size: 1.2rem;
    color: var(--color-white);
    background: var(--color-dark-variant);
    border-radius: 10px;
    height: 50px;
    padding: 0 1.2rem;
    padding-top: .8rem;
    border: none;
    outline: none;
    opacity: .7;
}
.div_inputs .form__labels{
    color: var(--color-white);
    cursor: pointer;
    position: absolute;
    top: 5;
    left: 35px;
    opacity: .7;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.form__inputs:focus + .form__labels,
.form__inputs:not(:placeholder-shown) + .form__labels{
    transform: translateY(4px) scale(.7);
    transform-origin: top left;
    color: var(--color-white);
}
.form__button{
    width: 100%;
    text-align: center;
}
.form__button button{
    width: 130px;
    padding: 12px;
    margin-top: 20px;
    font-size: .8rem;
    font-weight: 400;
    border-radius: 22px;
    opacity: .8;
    cursor: pointer;
    background: var(--color-white);
    color: var(--color-dark);
}
.form .form__forgot{
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
.form__forgot a{
    color: var(--color-white);
    opacity: .7;
    border-bottom: 1px solid var(--color-white);
}

@media screen and (max-width: 417px){
    .form{
        width: 92%;
    }
    .form .form__title{
        font-size: 2.2rem;
    }
    .containt{
        padding: 1.5rem .3rem;
    }
    .div_inputs .form__inputs{
        font-size: 1rem;
        height: 45px;
    }
    .form__button button{
        scale: .9;
    }
    .form .form__forgot{
        scale: .9;
    }
}