<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../css/customers.css">
    <title>Responsive Dashboard</title>
</head>
<body>
    <div class="container" id="blur">
         <!-------------------- CONTAINER LEFT - MENÚ LATERAL --------------------->

            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="../images/logo.png" alt="logo">
                        <h2>Dashboard</h2>
                    </div>
                    <div class="close" id="close-btn">
                        <span class="material-symbols-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar">
                    <a href="#" class="">
                        <span class="material-symbols-sharp">window</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="#" class="active">
                        <span class="material-symbols-sharp">person_outline </span>
                        <h3>Customers</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">mail_outline</span>
                        <h3>Messages</h3>
                        <span class="message-count">26</span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">receipt_long</span>
                        <h3>Orders</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">logout</span>
                        <h3>Logout</h3>
                    </a>
                </div>
            </aside>
        <!---------------- CIERRA EL ASID --------------->
            <main>
                <div class="top-mobile">
                    <button id="menu-btn"><span class="material-symbols-sharp">menu</span>
                    </button>
                    <div class="theme-toggler-mobile">
                        <span class="material-symbols-sharp active">light_mode</span>
                        <span class="material-symbols-sharp">dark_mode</span>
                    </div>
                    <div class="profile">
                        <div class="info">
                            <p>Hey, <b>User</b></p>
                            <small class="text-muted">Admin</small>
                        </div>
                        <div class="profile-photo">
                            <img src="../images/profile-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="top">
                    <div class="title">
                        <h1>Customers</h1>
                        <span class="text-muted">28 orders found</span>
                    </div>
                    <div class="profile-theme">
                        <div class="theme-toggler theme-toggler">
                            <span class="material-symbols-sharp active">light_mode</span>
                            <span class="material-symbols-sharp">dark_mode</span>
                        </div>
                        <div class="profile">
                            <div class="info">
                                <p>Hey, <b>User</b></p>
                                <small class="text-muted">Admin</small>
                            </div>
                            <div class="profile-photo">
                                <img src="../images/profile-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="all-table">
                    <div class="filter">
                        <ul>
                            <li><a href="" class="all-order">All orders</a></li>
                            <li><a href="" class="declined">Declined</a></li>
                            <li><a href="" class="pending">Pending</a></li>
                            <li><a href="" class="delivered">Delivered</a></li>
                        </ul>
                        <div class="filter-s-a">
                            <div class="filter-agg btn-agg btn-close" id="button" onclick="toggleModal()">
                                <div id="dub-arrow">
                                    <span class="material-symbols-sharp">person_add</span>
                                </div>
                                <button class="btn-modal" id="btn-modal">New User</button>
                            </div>
                            <div class="filter-search">
                                <input type="text" class="input_search" name="" id="search" placeholder=" ">
                                <label for="search" class="label_search">Busqueda:</label>
                            </div>
                        </div>
                    </div>
                    <div class="recent-orders">
                        <table>
                            <thead>
                                <tr>
                                    <th>Cédula</th>
                                    <th>Client Name</th>
                                    <th>Problem</th>
                                    <th>Date user</th>
                                    <th>Price</th>
                                    <th>Estatus</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                        <div class="pages">
                            <div class="show-page"></div>
                            <ul>
                                <li>Previous</li>
                                <li><span class="activeN">1</span></li>
                                <li>2</li>
                                <li>3</li>
                                <li><span>...</span></li>
                                <li>9</li>
                                <li>10</li>
                                <li>Next<li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
     <!--------- Ventana Modal -------->
     <div class="pop-up" id="pop-up">
        <h2>Register of user</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt quasi, reiciendis voluptate ut consectetur, amet dolorum ducimus ipsa impedit dignissimos maxime quaerat facilis pariatur quia libero! Soluta debitis incidunt necessitatibus nesciunt, a aliquam perspiciatis mollitia tempore itaque delectus earum quidem amet aperiam quisquam magni! Minus ex fugit velit hic voluptatem iste sit inventore. Amet vel modi impedit dignissimos eaque repellendus tenetur placeat optio pariatur sit a minima, non eius commodi facere deleniti vitae saepe quaerat autem voluptas mollitia odit culpa magnam? Tempora, exercitationem deserunt, perferendis sunt eaque magnam, molestias fuga ex sapiente architecto qui facere neque. Natus exercitationem delectus necessitatibus.</p>
        <a class="btn-modal" id="btn-modal" onclick="toggleModal()"><span class="material-symbols-sharp btn-modal">close</span></a>
        
    </div>
    <script src="../js/customers.js">
    </script>
</body>    
</html>