<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>Responsive Dashboard</title>
</head>
<body>
    <div class="disabled"></div>
    <div class="container" id="blur">
         <!-------------------- CONTAINER LEFT - MENÚ LATERAL --------------------->

            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="../images/logo.png" alt="logo">
                        <h2>Dashboard</h2>
                    </div>
                    <div class="close" id="close-btn">
                        <span class="material-symbols-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar">
                    <a href="#" class="active">
                        <span class="material-symbols-sharp">window</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="./customers.html" class="">
                        <span class="material-symbols-sharp">person_outline </span>
                        <h3>Customers</h3>
                    </a>
                    <a href="./inventary.html">
                        <span class="material-symbols-sharp">mail_outline</span>
                        <h3>Inv and Pro</h3>
                        <span class="message-count">26</span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">receipt_long</span>
                        <h3>Orders</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">logout</span>
                        <h3>Logout</h3>
                    </a>
                </div>
            </aside>
        <!---------------- CIERRA EL ASID --------------->
        <main>
            <h1>Dashboard</h1>
            <div class="date">
                <input type="date" name="" id="">
            </div>
            <div class="insights">
                <div class="options">
                    <div class="full-menu-income">
                        <ul class="menu-income">
                            <li><a href="" class="venta">Ventas totales</a></li>
                            <li><a href="" class="pvp">Pvp total</a></li>
                            <li><a href="" class="ganancia">Ganancias totales</a></li>
                        </ul>
                        <div class="container-modal">
                            <a href="">Ver más...</a>
                        </div>
                        <div>
                            <span class="material-symbols-sharp btn-modal-1">more_horiz</span>
                            <span class="material-symbols-sharp btn-modal-2">more_horiz</span>
                        </div>
                    </div>
                    <div class="middle-full middle-1">
                        <div class="middle info1">
                            <div class="left">
                                <h3>Ventas Totales</h3>
                                <h2>$0,00</h2>
                            </div>
                        </div>
                    </div>
                    <div class="middle-full middle-2">
                        <div class="middle info1">
                            <div class="left">
                                <h3>Pvp total</h3>
                                <h2>$0,00</h2>
                            </div>
                        </div>
                    </div>
                    <div class="middle-full middle-3">
                        <div class="middle info2">
                            <div class="left">
                                <h3>Ganancias Totales</h3>
                                <h2>$0,00</h2>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimos 7 días</small>
                </div>
                <!--------- TERMINA INGRESOS --------->
            </div>
            <!--------- TERMINA CUADROS DE PORCENTAJE --------->
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Product Number</th>
                            <th>Status</th>
                            <th>Date inicio</th>
                            <th>Date cierre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <a href="#">Show All</a>
            </div>
        </main>
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>User</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../images/profile-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <!---------- FINALIZA EL PANEL DE ADMIN ---------->

            <div class="recent-updates">
                <div class="title-notes">
                    <h2>Notes</h2>
                    <div class="updates-actions">
                        <span class="material-symbols-sharp" onclick="toggleModal()">add</span>
                    </div>
                </div>
                <div class="updates">
                    <div class="message">
                        <p><b>Mike Tyson</b> Recibió la orden que había pedido de manera exitosa el dia: dd/mm/yyyy</p>
                        <small class="text-muted">Hace 2 minutos</small>
                    </div>

                    <div class="message">
                        <p><b>Mike Tyson</b> Recibió la orden que había pedido de manera exitosa el dia: dd/mm/yyyy</p>
                        <small class="text-muted">Hace 2 minutos</small>
                    </div>
                    <div class="message">
                        <p><b>Mike Tyson</b> Recibió la orden que había pedido de manera exitosa el dia: dd/mm/yyyy</p>
                        <small class="text-muted">Hace 2 minutos</small>
                    </div>
                    <div class="more-message">
                        <span class="text-muted" onclick="toggleModal()">Ver más...</span>
                    </div>
                </div>
            </div>
                <!---------- FINALIZA RESEÑAS DE VENTAS ---------->
            <div class="sales-analytics">
                <h2>Sales Analytics</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-symbols-sharp">shopping_cart</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>ONLINE ORDERS</h3>
                            <small class="text-muted">Últimas 24 horas</small>
                        </div>
                        <h5 class="danger">+39%</h5>
                        <h3>3849</h3>
                    </div>
                </div>
                <div class="item offline">
                    <div class="icon">
                        <span class="material-symbols-sharp">local_mall</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>OFFLINE ORDERS</h3>
                            <small class="text-muted">Últimas 24 horas</small>
                        </div>
                        <h5 class="danger">-17%</h5>
                        <h3>1100</h3>
                    </div>
                </div>
                <div class="item customers">
                    <div class="icon">
                        <span class="material-symbols-sharp">person</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>NEW CUSTOMERS</h3>
                            <small class="text-muted">Últimas 24 horas</small>
                        </div>
                        <h5 class="danger">+25%</h5>
                        <h3>110</h3>
                    </div>
                </div>
                <div class="item refresh-product">
                    <div>
                        <span class="material-symbols-sharp">history</span>
                        <h3>Refresh resources</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pop-up" id="pop-up">
        <div class="btn-modal" id="btn-modal"><span class="material-symbols-sharp btn-modal" onclick="toggleModal()">close</span></div>
    </div>
    <script src="../js/arrayej.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>