<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../css/inventary.css">
    <title>Responsive Dashboard</title>
</head>
<body>
    <div class="container" id="blur">
         <!-------------------- CONTAINER LEFT - MENÚ LATERAL --------------------->

            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="../images/logo.png" alt="logo">
                        <h2>Dashboard</h2>
                    </div>
                    <div class="close" id="close-btn">
                        <span class="material-symbols-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar">
                    <a href="#" class="">
                        <span class="material-symbols-sharp">window</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">person_outline </span>
                        <h3>Customers</h3>
                    </a>
                    <a href="#" class="active">
                        <span class="material-symbols-sharp">mail_outline</span>
                        <h3>Messages</h3>
                        <span class="message-count">26</span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">receipt_long</span>
                        <h3>Orders</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">logout</span>
                        <h3>Logout</h3>
                    </a>
                </div>
            </aside>
            <!---------------- CIERRA EL ASID --------------->

            <main>
                <h1>Inventary</h1>
                <span class="text-muted">Type id number or name of items</span>
                <div class="container-i-p">
                    <div class="search-item">
                        <input type="text" class="input_search" name="" id="search" placeholder=" ">
                        <label for="search" class="label_search">Busqueda:</label>
                        <a href=""><span class="material-symbols-sharp">search</span>
                        </a>
                    </div>
                    <div class="profits-item">
                        <select name="select-p" id="select-p">
                            <option value="Monthly">Monthly</option>
                            <option value="Week">Week</option>
                            <option value="Day">Day</option>
                        </select>
                        <div class="profits-data">
                            <div class="data-1">
                                <span class="text-muted">Purchased</span>
                                <div>
                                    <h1>2209</h1><span class="text-muted">pars</span>
                                </div>
                            </div>
                            <div class="data-2">
                                <span class="text-muted">Available</span>
                                <div>
                                    <h1>1076</h1><span class="text-muted">pars</span>
                                </div>
                            </div>
                        </div>
                        <div class="profit-graphic">
                            <div>
                                <span class="text-muted">Salesprice</span>
                                <h3>$12.09</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div class="right">
                <div class="top">
                    <button id="menu-btn">
                        <span class="material-symbols-sharp">menu</span>
                    </button>
                    <div class="theme-toggler">
                        <span class="material-symbols-sharp active">light_mode</span>
                        <span class="material-symbols-sharp">dark_mode</span>
                    </div>
                    <div class="profile">
                        <div class="info">
                            <p>Hey, <b>User</b></p>
                            <small class="text-muted">Admin</small>
                        </div>
                        <div class="profile-photo">
                            <img src="../images/profile-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="full-item">
                    <div class="filter-item">
                        <div class="filter-select"> 
                            <div class="caja-select">
                                <span class="text-muted title-select">Category: <span class="material-symbols-sharp">expand_more</span></span>
                                <select name="" id="">
                                    <option value="select">Sneakers</option>
                                </select>
                            </div>
                            <div class="caja-select">
                                <span class="text-muted title-select">Brand: <span class="material-symbols-sharp">expand_more</span></span>
                                <select name="" id="">
                                    <option value="select">Nike</option>
                                </select>
                            </div>
                            <div class="caja-select">
                                <span class="text-muted title-select">Sort by: <span class="material-symbols-sharp">expand_more</span></span>
                                <select name="" id="">
                                    <option value="select">Best Seller</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-btn">
                            <div class="filter-agg btn-agg btn-close" id="button" onclick="toggleModal()">
                                <div id="dub-arrow">
                                    <span class="material-symbols-sharp">add</span>
                                </div>
                                <button class="btn-modal" id="btn-modal">New Product</button>
                            </div>
                            <div class="toggler-style">
                                <span class="material-symbols-sharp style-menu active">menu</span>
                                <span class="material-symbols-sharp style-widget">widgets</span>
                            </div>
                        </div>
                    </div>
                    <div class="items-inventory">
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th> <th>Number</th>
                                    <th>Name of Product</th>
                                    <th>Model</th>
                                    <th>Price</th>
                                    <th>Stock</th>
                                    <th>Actions <span class="material-symbols-sharp">expand_more</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    <script src="../js/inventary.js"></script>
</body>
</html>